{% extends "base.html" %}


{% block content %}
<main>
  <div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/">ne$t</a></li>
          <li class="breadcrumb-item active">bitcoin app</li>
      </ol>
      <div class="form-group mb-3">
          <div class="card-header">
            Predict</div>
          <div class="card-body">
            <form action="/" method="POST" id="predict_form">
              <p>open price: <input type="number" placeholder="" name="open" required="required"></p>
              <p>low price: <input type="number" placeholder="" name="low" required="required"></p>
              <p>high price: <input type="number" placeholder="" name="high" required="required"></p>
              <p>market cap: <input type="number" placeholder="" name="market_cap" required="required"></p>
              <p>market cap global: <input type="number" placeholder="" name="market_cap_global" required="required"></p>
              <p>percent change 24h: <input type="number" placeholder="" name="percent_change_24h" required="required"></p>
              <input type="submit" id="predict" value="predict close price" class="btn btn-primary">
              <br>
            
  
                              
            </form>
        </div>
        {{ prediction }}
        </div>
  </div>
</main>
{% endblock content %}